1.	Perform the following operations in python on given dataset [Iris.csv]
a.	Subset rows where petal length > 1.5 and species is "setosa".
b.	Merge the Iris dataset with a custom species info table (e.g., color or habitat).
c.	Sort flowers by sepal_width and then by sepal_length.
d.	Transpose the dataset’s first 5 rows to view feature-wise comparisons.
e.	Reshape the dataset using melt() and pivot() to transform features into long and wide formats.

In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# a.	Subset rows where petal length > 1.5 and species is "setosa".

In [10]:
subset=df[(df['PetalLengthCm']>1.5) & (df['Species']=='Iris-setosa')]

In [12]:
subset

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5    6            5.4           3.9            1.7           0.4  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa

# b.	Merge the Iris dataset with a custom species info table (e.g., color or habitat).

In [19]:
species_info = pd.DataFrame({
    'Species': ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],
    'Color': ['Red', 'Blue', 'Purple'],
    'Habitat': ['Garden', 'Meadow', 'Swamp']
})

In [21]:
merged_df = pd.merge(df, species_info, on='Species', how='left')
print(merged_df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species  \
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

  Color Habitat
0   Red  Garden
1   Red  Garden
2   Red  Garden
3   Red  Garden
4   Red  Garden

# c.	Sort flowers by sepal_width and then by sepal_length.

In [29]:
sort = df.sort_values(by=['SepalWidthCm', 'SepalLengthCm'])

In [31]:
sort

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
60,61,5.0,2.0,3.5,1.0,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
16,17,5.4,3.9,1.3,0.4,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa

# d.	Transpose the dataset’s first 5 rows to view feature-wise comparisons.

In [33]:
transposed_df=df.head().transpose()

In [35]:
transposed_df

                         0            1            2            3            4
Id                       1            2            3            4            5
SepalLengthCm          5.1          4.9          4.7          4.6          5.0
SepalWidthCm           3.5          3.0          3.2          3.1          3.6
PetalLengthCm          1.4          1.4          1.3          1.5          1.4
PetalWidthCm           0.2          0.2          0.2          0.2          0.2
Species        Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa

# e.	Reshape the dataset using melt() and pivot() to transform features into long and wide formats.

In [42]:
# Melting (long format)
melted_df = pd.melt(df, id_vars=["Id", "Species"], 
                    value_vars=["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"],
                    var_name="Feature", value_name="Value")
print(melted_df.head())

   Id      Species        Feature  Value
0   1  Iris-setosa  SepalLengthCm    5.1
1   2  Iris-setosa  SepalLengthCm    4.9
2   3  Iris-setosa  SepalLengthCm    4.7
3   4  Iris-setosa  SepalLengthCm    4.6
4   5  Iris-setosa  SepalLengthCm    5.0

In [44]:
# Pivoting (wide format)
pivot_df = melted_df.pivot_table(index=["Id", "Species"], columns="Feature", values="Value").reset_index()
print(pivot_df.head())

Feature  Id      Species  PetalLengthCm  PetalWidthCm  SepalLengthCm  \
0         1  Iris-setosa            1.4           0.2            5.1
1         2  Iris-setosa            1.4           0.2            4.9
2         3  Iris-setosa            1.3           0.2            4.7
3         4  Iris-setosa            1.5           0.2            4.6
4         5  Iris-setosa            1.4           0.2            5.0

Feature  SepalWidthCm
0                 3.5
1                 3.0
2                 3.2
3                 3.1
4                 3.6