2.	Perform the following operations in python on given dataset [StudentsPerformance.csv]
a.	Subset the dataset to find students with math score > 80 and who completed the test preparation course.
b.	Merge this dataset with a demographic table (Subset) that includes socioeconomic status.
c.	Sort by reading score and then writing score in descending order.
d.	Transpose average scores by gender across all subjects.
e.	Reshape the data to compare average scores across lunch types and test prep status using a pivot table.

In [23]:
import pandas as pd

In [2]:
df = pd.read_csv("StudentsPerformance.csv")

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# a. Subset students with math score > 80 and who completed the test preparation course

In [8]:
subset_df = df[(df['math score'] > 80) & (df['test preparation course'] == 'completed')]
print(subset_df.head())

     gender race/ethnicity parental level of education     lunch  \
6    female        group B                some college  standard
35     male        group E          associate's degree  standard
49     male        group C                 high school  standard
56   female        group E          associate's degree  standard
104    male        group C                some college  standard

    test preparation course  math score  reading score  writing score
6                 completed          88             95             92
35                completed          81             81             79
49                completed          82             84             82
56                completed          82             85             86
104               completed          98             86             90

# b. Merge with a demographic table (socioeconomic status info)

In [11]:
demographics = pd.DataFrame({
    'parental level of education': [
        'bachelor\'s degree', 'some college', 'master\'s degree',
        'associate\'s degree', 'high school', 'some high school'],
    'socioeconomic status': ['high', 'medium', 'high', 'medium', 'low', 'low']
})

In [13]:
merged_df = pd.merge(df, demographics, on='parental level of education', how='left')
print(merged_df[['parental level of education', 'socioeconomic status']].drop_duplicates())

   parental level of education socioeconomic status
0            bachelor's degree                 high
1                 some college               medium
2              master's degree                 high
3           associate's degree               medium
8                  high school                  low
15            some high school                  low

# d. Transpose average scores by gender across all subjects

In [16]:
avg_scores = df.groupby('gender')[['math score', 'reading score', 'writing score']].mean().transpose()
print(avg_scores)

gender            female       male
math score     63.633205  68.728216
reading score  72.608108  65.473029
writing score  72.467181  63.311203

# e. Reshape using pivot to compare average scores across lunch and test prep

In [19]:
pivot_df = df.pivot_table(
    index='lunch',
    columns='test preparation course',
    values=['math score', 'reading score', 'writing score'],
    aggfunc='mean'
)

In [21]:
print(pivot_df)

                        math score            reading score             \
test preparation course  completed       none     completed       none
lunch
free/reduced             63.045802  56.508929     69.870229  61.602679
standard                 73.533040  68.133971     76.215859  69.177033

                        writing score
test preparation course     completed       none
lunch
free/reduced                70.351145  58.736607
standard                    76.766520  67.595694