5.	Perform the following operations using Python on the given datasets (Toyota.csv)
a.	Create data subsets  
b.	Merge Data 
c.	Sort Data on any specified column values
d.	Transposing Data
e.	Shape and reshape Data

In [52]:
import pandas as pd

In [54]:
df = pd.read_csv("Toyota.csv")
print(df.head())

   Unnamed: 0  Price   Age     KM FuelType  HP  MetColor  Automatic    CC  \
0           0  13500  23.0  46986   Diesel  90       1.0          0  2000
1           1  13750  23.0  72937   Diesel  90       1.0          0  2000
2           2  13950  24.0  41711   Diesel  90       NaN          0  2000
3           3  14950  26.0  48000   Diesel  90       0.0          0  2000
4           4  13750  30.0  38500   Diesel  90       0.0          0  2000

   Doors  Weight
0  three    1165
1      3    1165
2      3    1165
3      3    1165
4      3    1170

In [56]:
df = df.drop(columns=['Unnamed: 0'])

# a. Create data subsets

In [59]:
subset_df = df[(df['Price'] > 13000) & (df['FuelType'] == 'Diesel')]
print(subset_df.head())

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

# b.merge datasets

In [62]:
service_df = pd.DataFrame({
    'FuelType': ['Diesel', 'Petrol', 'CNG'],
    'ServiceCost': [3000, 2500, 2000]
})

In [64]:
merged_df = pd.merge(df, service_df, on='FuelType', how='left')
print(merged_df[['Price', 'FuelType', 'ServiceCost']].head())

   Price FuelType  ServiceCost
0  13500   Diesel       3000.0
1  13750   Diesel       3000.0
2  13950   Diesel       3000.0
3  14950   Diesel       3000.0
4  13750   Diesel       3000.0

# 3. Sort Data

In [67]:
sorted_df = df.sort_values(by=['Age', 'KM'], ascending=[True, False])
print("\nSorted by Age (asc) and KM (desc):")
print(sorted_df[['Price', 'Age', 'KM']].head())

Sorted by Age (asc) and KM (desc):
     Price  Age    KM
184  17795  1.0     1
185  18245  1.0     1
182  21125  2.0   225
110  31000  4.0  4000
111  31275  4.0  1500

#  4. Transpose Data

In [70]:
transposed_df = df.head().transpose()
print(transposed_df)

                0       1       2       3       4
Price       13500   13750   13950   14950   13750
Age          23.0    23.0    24.0    26.0    30.0
KM          46986   72937   41711   48000   38500
FuelType   Diesel  Diesel  Diesel  Diesel  Diesel
HP             90      90      90      90      90
MetColor      1.0     1.0     NaN     0.0     0.0
Automatic       0       0       0       0       0
CC           2000    2000    2000    2000    2000
Doors       three       3       3       3       3
Weight       1165    1165    1165    1165    1170

# 5. Shape and Reshape Data

In [73]:
melted_df = pd.melt(df, id_vars=['FuelType'], value_vars=['Price', 'Age', 'KM'], 
                    var_name='Feature', value_name='Value')

In [75]:
print(melted_df.head())

  FuelType Feature  Value
0   Diesel   Price  13500
1   Diesel   Price  13750
2   Diesel   Price  13950
3   Diesel   Price  14950
4   Diesel   Price  13750

In [77]:
melted_df['Value'] = pd.to_numeric(melted_df['Value'], errors='coerce')

In [79]:
pivot_df = melted_df.pivot_table(index='FuelType', columns='Feature', values='Value', aggfunc='mean')
print(pivot_df)

Feature         Age             KM         Price
FuelType
CNG       56.928571  121114.333333   9584.000000
Diesel    51.795620  114927.878571  10889.277778
Petrol    56.234432   62960.403599  10689.927782