15.	Perform the following operations using Python on the given data sets (Toyota.csv)
a.	Data cleaning
b.	Data integration
c.	Data transformation 
d.	Error correcting

In [35]:
import pandas as pd

In [37]:
df=pd.read_csv('heart.csv')

In [39]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

#  a. Data Cleaning

In [42]:
# Check for missing values
print(df.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [47]:
df = df.drop_duplicates()

# b. Data Integration

In [49]:
df["hospital_id"] = np.random.randint(100, 105, size=len(df))  # random hospital ID assign kar rahe hain

# c. Data Transformation

In [52]:
# Normalize 'chol' and 'trestbps'
df['chol_norm'] = (df['chol'] - df['chol'].min()) / (df['chol'].max() - df['chol'].min())
df['trestbps_norm'] = (df['trestbps'] - df['trestbps'].min()) / (df['trestbps'].max() - df['trestbps'].min())

In [54]:
df['sex'] = df['sex'].map({0: 'female', 1: 'male'})

# d. Error Correcting

In [57]:
# Correcting invalid blood pressure (assuming threshold)
df.loc[df['trestbps'] < 50, 'trestbps'] = np.nan  # or some default/fixed value

In [59]:
# Remove entries where age is less than 1 or greater than 120
df = df[(df['age'] > 0) & (df['age'] <= 120)]

In [61]:
print(df.head())

   age     sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0   52    male   0     125.0   212    0        1      168      0      1.0
1   53    male   0     140.0   203    1        0      155      1      3.1
2   70    male   0     145.0   174    0        1      125      1      2.6
3   61    male   0     148.0   203    0        1      161      0      0.0
4   62  female   0     138.0   294    1        1      106      0      1.9

   slope  ca  thal  target  hospital_id  chol_norm  trestbps_norm
0      2   2     3       0          102   0.196347       0.292453
1      0   0     3       0          100   0.175799       0.433962
2      0   0     3       0          104   0.109589       0.481132
3      2   1     3       0          101   0.175799       0.509434
4      1   3     2       0          101   0.383562       0.415094