16.	Perform the following operations using Python on the airquality dataset
a.	Read data set and display summary  
b.	Create data subsets having observations in range 11 to 49 and another subset having temperature value less than 60 
c.	Merge observations of any two subsets
d.	Apply Sort Data on Temp values

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('airquality.csv')

In [5]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

#  a. Read data set and display summary

In [8]:
# Summary statistics
print(df.describe(include='all'))

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [10]:
# Check info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB
None

#  b. Create data subsets

In [15]:
subset_range = df.iloc[11:50]  # Adjusted based on actual data length
subset_temp = df[df['Temp'] < 60]

# c. Merge observations of two subsets

In [20]:
merged_df = pd.concat([subset_range, subset_temp], ignore_index=True)

# d. Sort Data on Temp values

In [24]:
sorted_df = df.sort_values(by='Temp')

In [28]:
print("Subset (Index 11 to 49):\n", subset_range)

Subset (Index 11 to 49):
     Ozone  Solar.R  Wind  Temp  Month  Day
11   16.0    256.0   9.7    69      5   12
12   11.0    290.0   9.2    66      5   13
13   14.0    274.0  10.9    68      5   14
14   18.0     65.0  13.2    58      5   15
15   14.0    334.0  11.5    64      5   16
16   34.0    307.0  12.0    66      5   17
17    6.0     78.0  18.4    57      5   18
18   30.0    322.0  11.5    68      5   19
19   11.0     44.0   9.7    62      5   20
20    1.0      8.0   9.7    59      5   21
21   11.0    320.0  16.6    73      5   22
22    4.0     25.0   9.7    61      5   23
23   32.0     92.0  12.0    61      5   24
24    NaN     66.0  16.6    57      5   25
25    NaN    266.0  14.9    58      5   26
26    NaN      NaN   8.0    57      5   27
27   23.0     13.0  12.0    67      5   28
28   45.0    252.0  14.9    81      5   29
29  115.0    223.0   5.7    79      5   30
30   37.0    279.0   7.4    76      5   31
31    NaN    286.0   8.6    78      6    1
32    NaN    287.0   9.7    74      6    2
33    NaN    242.0  16.1    67      6    3
34    NaN    186.0   9.2    84      6    4
35    NaN    220.0   8.6    85      6    5
36    NaN    264.0  14.3    79      6    6
37   29.0    127.0   9.7    82      6    7
38    NaN    273.0   6.9    87      6    8
39   71.0    291.0  13.8    90      6    9
40   39.0    323.0  11.5    87      6   10
41    NaN    259.0  10.9    93      6   11
42    NaN    250.0   9.2    92      6   12
43   23.0    148.0   8.0    82      6   13
44    NaN    332.0  13.8    80      6   14
45    NaN    322.0  11.5    79      6   15
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17
48   20.0     37.0   9.2    65      6   18
49   12.0    120.0  11.5    73      6   19

In [30]:
print("\nSubset (Temp < 60):\n", subset_temp)

Subset (Temp < 60):
     Ozone  Solar.R  Wind  Temp  Month  Day
4     NaN      NaN  14.3    56      5    5
7    19.0     99.0  13.8    59      5    8
14   18.0     65.0  13.2    58      5   15
17    6.0     78.0  18.4    57      5   18
20    1.0      8.0   9.7    59      5   21
24    NaN     66.0  16.6    57      5   25
25    NaN    266.0  14.9    58      5   26
26    NaN      NaN   8.0    57      5   27

In [32]:
print("\nMerged Subset:\n", merged_df)

Merged Subset:
     Ozone  Solar.R  Wind  Temp  Month  Day
0    16.0    256.0   9.7    69      5   12
1    11.0    290.0   9.2    66      5   13
2    14.0    274.0  10.9    68      5   14
3    18.0     65.0  13.2    58      5   15
4    14.0    334.0  11.5    64      5   16
5    34.0    307.0  12.0    66      5   17
6     6.0     78.0  18.4    57      5   18
7    30.0    322.0  11.5    68      5   19
8    11.0     44.0   9.7    62      5   20
9     1.0      8.0   9.7    59      5   21
10   11.0    320.0  16.6    73      5   22
11    4.0     25.0   9.7    61      5   23
12   32.0     92.0  12.0    61      5   24
13    NaN     66.0  16.6    57      5   25
14    NaN    266.0  14.9    58      5   26
15    NaN      NaN   8.0    57      5   27
16   23.0     13.0  12.0    67      5   28
17   45.0    252.0  14.9    81      5   29
18  115.0    223.0   5.7    79      5   30
19   37.0    279.0   7.4    76      5   31
20    NaN    286.0   8.6    78      6    1
21    NaN    287.0   9.7    74      6    2
22    NaN    242.0  16.1    67      6    3
23    NaN    186.0   9.2    84      6    4
24    NaN    220.0   8.6    85      6    5
25    NaN    264.0  14.3    79      6    6
26   29.0    127.0   9.7    82      6    7
27    NaN    273.0   6.9    87      6    8
28   71.0    291.0  13.8    90      6    9
29   39.0    323.0  11.5    87      6   10
30    NaN    259.0  10.9    93      6   11
31    NaN    250.0   9.2    92      6   12
32   23.0    148.0   8.0    82      6   13
33    NaN    332.0  13.8    80      6   14
34    NaN    322.0  11.5    79      6   15
35   21.0    191.0  14.9    77      6   16
36   37.0    284.0  20.7    72      6   17
37   20.0     37.0   9.2    65      6   18
38   12.0    120.0  11.5    73      6   19
39    NaN      NaN  14.3    56      5    5
40   19.0     99.0  13.8    59      5    8
41   18.0     65.0  13.2    58      5   15
42    6.0     78.0  18.4    57      5   18
43    1.0      8.0   9.7    59      5   21
44    NaN     66.0  16.6    57      5   25
45    NaN    266.0  14.9    58      5   26
46    NaN      NaN   8.0    57      5   27

In [34]:
print("\nSorted by Temperature:\n", sorted_df)

Sorted by Temperature:
      Ozone  Solar.R  Wind  Temp  Month  Day
4      NaN      NaN  14.3    56      5    5
17     6.0     78.0  18.4    57      5   18
24     NaN     66.0  16.6    57      5   25
26     NaN      NaN   8.0    57      5   27
14    18.0     65.0  13.2    58      5   15
..     ...      ...   ...   ...    ...  ...
41     NaN    259.0  10.9    93      6   11
122   85.0    188.0   6.3    94      8   31
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
119   76.0    203.0   9.7    97      8   28

[153 rows x 6 columns]