21.	Perform following operations on the given data set (Toyota.csv)
a.	Get unique values of categorical ‘Doors’
b.	Transform of all values in same format
c.	Apply Decimal scaling normalization on HP column

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Toyota.csv")

In [3]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

# a. Get unique values of categorical ‘Doors’

In [5]:
print("Unique values in 'Doors' column before cleaning:")
print(df['Doors'].unique())

Unique values in 'Doors' column before cleaning:
['three' '3' '5' '4' 'four' 'five' '2']

# b. Transform all values in same format (e.g., convert to integers)

In [8]:
df['Doors'] = df['Doors'].replace({'three': 3, 'four': 4, 'Five': 5, 'Five ': 5})
df['Doors'] = pd.to_numeric(df['Doors'], errors='coerce')  # convert to numeric

In [13]:
print("\nUnique values in 'Doors' column after cleaning:")
print(df['Doors'].unique())

Unique values in 'Doors' column after cleaning:
[ 3.  5.  4. nan  2.]

# c. Apply Decimal scaling normalization on HP column

In [16]:
#    Formula: x' = x / (10^j), where j = number of digits in max(|x|)

In [18]:
# Convert HP to numeric if needed
df['HP'] = pd.to_numeric(df['HP'], errors='coerce')

In [20]:
# Apply decimal scaling normalization
max_abs = df['HP'].abs().max()
j = len(str(int(max_abs)))
df['HP_decimal_scaled'] = df['HP'] / (10 ** j)

In [22]:
print("\nFirst few rows of HP after Decimal Scaling Normalization:")
print(df[['HP', 'HP_decimal_scaled']].head())

First few rows of HP after Decimal Scaling Normalization:
     HP  HP_decimal_scaled
0  90.0               0.09
1  90.0               0.09
2  90.0               0.09
3  90.0               0.09
4  90.0               0.09