22.	Perform following operations on the given data set (Toyota.csv)
a.	Display shape and summary and count of missing values in the dataset
b.	Remove duplicate records
c.	Clean the data set- Replace the missing values in each column with appropriate value
d.	Convert the datatype of Metcolor and Automatic column in as object type

In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv("Toyota.csv")

# a. Display shape, summary, and count of missing values

In [4]:
print("Dataset Shape:", df.shape)

Dataset Shape: (1436, 11)

In [5]:
print("\nSummary:\n", df.describe(include='all'))

Summary:
          Unnamed: 0         Price          Age    KM FuelType    HP  \
count   1436.000000   1436.000000  1336.000000  1436     1336  1436
unique          NaN           NaN          NaN  1256        3    13
top             NaN           NaN          NaN    ??   Petrol   110
freq            NaN           NaN          NaN    15     1177   833
mean     717.500000  10730.824513    55.672156   NaN      NaN   NaN
std      414.681806   3626.964585    18.589804   NaN      NaN   NaN
min        0.000000   4350.000000     1.000000   NaN      NaN   NaN
25%      358.750000   8450.000000    43.000000   NaN      NaN   NaN
50%      717.500000   9900.000000    60.000000   NaN      NaN   NaN
75%     1076.250000  11950.000000    70.000000   NaN      NaN   NaN
max     1435.000000  32500.000000    80.000000   NaN      NaN   NaN

           MetColor    Automatic           CC Doors      Weight
count   1286.000000  1436.000000  1436.000000  1436  1436.00000
unique          NaN          NaN          NaN     7         NaN
top             NaN          NaN          NaN     5         NaN
freq            NaN          NaN          NaN   673         NaN
mean       0.674961     0.055710  1566.827994   NaN  1072.45961
std        0.468572     0.229441   187.182436   NaN    52.64112
min        0.000000     0.000000  1300.000000   NaN  1000.00000
25%        0.000000     0.000000  1400.000000   NaN  1040.00000
50%        1.000000     0.000000  1600.000000   NaN  1070.00000
75%        1.000000     0.000000  1600.000000   NaN  1085.00000
max        1.000000     1.000000  2000.000000   NaN  1615.00000

In [8]:
print("\nMissing Values Count:\n", df.isnull().sum())

Missing Values Count:
 Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

# b. Remove duplicate records

In [13]:
df = df.drop_duplicates()

In [15]:
print("\nShape after removing duplicates:", df.shape)

Shape after removing duplicates: (1436, 11)

# c. Clean the dataset - Replace missing values with appropriate values

In [18]:
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [20]:
cat_cols = df.select_dtypes(include='object').columns
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])

In [22]:
print("\nMissing Values after Imputation:\n", df.isnull().sum())

Missing Values after Imputation:
 Unnamed: 0    0
Price         0
Age           0
KM            0
FuelType      0
HP            0
MetColor      0
Automatic     0
CC            0
Doors         0
Weight        0
dtype: int64

# d. Convert datatype of MetColor and Automatic to object type

In [25]:
df['MetColor'] = df['MetColor'].astype('object')
df['Automatic'] = df['Automatic'].astype('object')

In [27]:
print("\nData types after conversion:\n", df.dtypes[['MetColor', 'Automatic']])

Data types after conversion:
 MetColor     object
Automatic    object
dtype: object