24.	Perform following operations on the given data set (Toyota.csv)
a.	Add a new column ‘Revised’ to the dataset specifying 5% increase in old Price.
b.	Create subset of cars’ data having Price greater than 15000 and Age less than 8
c.	Sort observations in descending order of Revised Price
d.	Apply ZScore_normalization on  HP column

In [1]:
import pandas as pd
from scipy.stats import zscore

In [3]:
df = pd.read_csv("Toyota.csv")

In [5]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [7]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['HP'] = pd.to_numeric(df['HP'], errors='coerce')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# a. Add a new column ‘Revised’ with 5% increase in Price

In [10]:
df['Revised'] = df['Price'] * 1.05
print("\nNew 'Revised' Price column added:\n", df[['Price', 'Revised']].head())

New 'Revised' Price column added:
    Price  Revised
0  13500  14175.0
1  13750  14437.5
2  13950  14647.5
3  14950  15697.5
4  13750  14437.5

# b. Create subset with Price > 15000 and Age < 8

In [13]:
subset = df[(df['Price'] > 15000) & (df['Age'] < 8)]
print("\nSubset (Price > 15000 and Age < 8):\n", subset[['Price', 'Age']].head())

Subset (Price > 15000 and Age < 8):
      Price  Age
110  31000  4.0
111  31275  4.0
114  22950  7.0
177  19950  7.0
179  22500  6.0

# c. Sort by Revised Price in descending order

In [16]:
sorted_df = df.sort_values(by='Revised', ascending=False)
print("\nSorted by Revised Price (descending):\n", sorted_df[['Price', 'Revised']].head())

Sorted by Revised Price (descending):
      Price   Revised
109  32500  34125.00
111  31275  32838.75
110  31000  32550.00
115  24990  26239.50
113  24950  26197.50

# d. Apply Z-Score normalization on HP column

In [19]:
df['HP_zscore'] = zscore(df['HP'], nan_policy='omit')
print("\nHP Z-Score Normalization:\n", df[['HP', 'HP_zscore']].head())

HP Z-Score Normalization:
      HP  HP_zscore
0  90.0  -0.777501
1  90.0  -0.777501
2  90.0  -0.777501
3  90.0  -0.777501
4  90.0  -0.777501