25.	Perform following operations on the given data set (Toyota.csv)
a.	Create Subset selecting columns 'Price', 'Age', 'FuelType', 'Automatic'
b.	Create subset having records of all Petrol vehicles 
c.	Create subset of carsâ€™ data having Price greater than 15000 and Age less than 8 years
d.	Merge records the above two data subsets

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Toyota.csv")

In [5]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [7]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# a. Create Subset selecting columns 'Price', 'Age', 'FuelType', 'Automatic'

In [10]:
subset_a = df[['Price', 'Age', 'FuelType', 'Automatic']]
print("\nSubset A:\n", subset_a.head())

Subset A:
    Price   Age FuelType  Automatic
0  13500  23.0   Diesel          0
1  13750  23.0   Diesel          0
2  13950  24.0   Diesel          0
3  14950  26.0   Diesel          0
4  13750  30.0   Diesel          0

# b. Create subset having records of all Petrol vehicles

In [13]:
subset_petrol = df[df['FuelType'].str.lower() == 'petrol']
print("\nSubset of Petrol vehicles:\n", subset_petrol[['Price', 'FuelType']].head())

Subset of Petrol vehicles:
     Price FuelType
8   21500   Petrol
10  20950   Petrol
11  19950   Petrol
12  19600   Petrol
13  21500   Petrol

# c. Subset of cars with Price > 15000 and Age < 8

In [16]:
subset_price_age = df[(df['Price'] > 15000) & (df['Age'] < 8)]
print("\nSubset (Price > 15000 and Age < 8):\n", subset_price_age[['Price', 'Age']].head())

Subset (Price > 15000 and Age < 8):
      Price  Age
110  31000  4.0
111  31275  4.0
114  22950  7.0
177  19950  7.0
179  22500  6.0

# d. Merge the two subsets created above

In [19]:
merged_subset = pd.merge(subset_petrol, subset_price_age, how='inner')
print("\nMerged Subset of Petrol cars with Price > 15000 and Age < 8:\n", merged_subset.head())

Merged Subset of Petrol cars with Price > 15000 and Age < 8:
    Unnamed: 0  Price  Age    KM FuelType   HP  MetColor  Automatic    CC  \
0         177  19950  7.0  6250   Petrol  110       1.0          0  1600
1         179  22500  6.0  3000   Petrol  110       0.0          0  1600
2         180  18500  7.0  2000   Petrol  110       0.0          0  1600
3         181  18700  7.0   450   Petrol   97       1.0          0  1400
4         182  21125  2.0   225   Petrol   97       1.0          0  1400

  Doors  Weight
0     5    1115
1     5    1130
2     5    1075
3     5    1110
4     5    1110