26.	Perform the following operations using Pyth on on the given data sets (Toyota.csv)
a.	Sort observations on Price values order
b.	Create Subset by Selecting columns, selecting rows and columns, 
c.	Create subset of cars data having Price greater than 15000 and Age less than 8
d.	Create subset of cars data consuming Petrol
e.	Apply decimal normalization on Price column

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("Toyota.csv")

In [7]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# a. Sort observations on Price values order (ascending)

In [10]:
sorted_df = df.sort_values(by='Price')
print("\nSorted by Price:\n", sorted_df[['Price']].head())

Sorted by Price:
       Price
191    4350
1048   4400
393    4450
192    4750
402    5150

# b. Create Subset by selecting columns and rows

In [13]:
subset_rows_cols = df.loc[0:9, ['Price', 'Age', 'FuelType']]
print("\nSubset of rows and columns:\n", subset_rows_cols)

Subset of rows and columns:
    Price   Age FuelType
0  13500  23.0   Diesel
1  13750  23.0   Diesel
2  13950  24.0   Diesel
3  14950  26.0   Diesel
4  13750  30.0   Diesel
5  12950  32.0   Diesel
6  16900  27.0   Diesel
7  18600  30.0      NaN
8  21500  27.0   Petrol
9  12950  23.0   Diesel

# c. Subset: Price > 15000 and Age < 8

In [16]:
subset_price_age = df[(df['Price'] > 15000) & (df['Age'] < 8)]
print("\nCars with Price > 15000 and Age < 8:\n", subset_price_age[['Price', 'Age']].head())

Cars with Price > 15000 and Age < 8:
      Price  Age
110  31000  4.0
111  31275  4.0
114  22950  7.0
177  19950  7.0
179  22500  6.0

# d. Subset of Petrol cars

In [19]:
subset_petrol = df[df['FuelType'].str.lower() == 'petrol']
print("\nSubset of Petrol cars:\n", subset_petrol[['Price', 'FuelType']].head())

Subset of Petrol cars:
     Price FuelType
8   21500   Petrol
10  20950   Petrol
11  19950   Petrol
12  19600   Petrol
13  21500   Petrol

# e. Apply Decimal Normalization on Price column

In [22]:
max_price = df['Price'].max()
scaling_factor = 10 ** len(str(int(max_price)))  # get 10^N
df['Price_Normalized'] = df['Price'] / scaling_factor
print("\nDecimal Normalized Price:\n", df[['Price', 'Price_Normalized']].head())

Decimal Normalized Price:
    Price  Price_Normalized
0  13500            0.1350
1  13750            0.1375
2  13950            0.1395
3  14950            0.1495
4  13750            0.1375