27.	Perform the following operations using Python on the given data sets (Toyota.csv)
a.	Remove missing values
b.	display datatypes and concise summary of all numeric variables
c.	Remove All duplicate records 
d.	Apply Z-score Normalization on Price Column

In [1]:
import pandas as pd
from scipy.stats import zscore

In [3]:
df = pd.read_csv("Toyota.csv")

In [5]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

# a. Remove missing values

In [8]:
df_cleaned = df.dropna()
print("Missing values removed. New shape:", df_cleaned.shape)

Missing values removed. New shape: (1111, 11)

# b. Display datatypes and concise summary of numeric variables

In [11]:
print("\nData Types:\n", df_cleaned.dtypes)
print("\nSummary of numeric columns:\n", df_cleaned.describe())

Data Types:
 Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

Summary of numeric columns:
         Unnamed: 0         Price          Age     MetColor    Automatic  \
count  1111.000000   1111.000000  1111.000000  1111.000000  1111.000000
mean    707.868587  10774.997300    55.585959     0.675068     0.053105
std     414.023750   3699.695538    18.829188     0.468561     0.224344
min       0.000000   4350.000000     1.000000     0.000000     0.000000
25%     347.500000   8450.000000    43.000000     0.000000     0.000000
50%     703.000000   9900.000000    60.000000     1.000000     0.000000
75%    1069.500000  11950.000000    70.000000     1.000000     0.000000
max    1435.000000  31275.000000    80.000000     1.000000     1.000000

                CC       Weight
count  1111.000000  1111.000000
mean   1569.463546  1073.870387
std     185.935691    52.610513
min    1300.000000  1000.000000
25%    1400.000000  1045.000000
50%    1600.000000  1070.000000
75%    1600.000000  1090.000000
max    2000.000000  1615.000000

# c. Remove all duplicate records

In [14]:
df_cleaned = df_cleaned.drop_duplicates()
print("\nAfter removing duplicates. New shape:", df_cleaned.shape)

After removing duplicates. New shape: (1111, 11)

# d. Apply Z-score Normalization on Price Column

In [27]:
df_cleaned['Price_Zscore'] = zscore(df_cleaned['Price'])
print("\nZ-score normalized Price:\n", df_cleaned[['Price', 'Price_Zscore']].head())

Z-score normalized Price:
    Price  Price_Zscore
0  13500      0.736880
1  13750      0.804483
3  14950      1.128980
4  13750      0.804483
5  12950      0.588152

# e. Shape and reshape using pivot_table

In [32]:
pivot = df_cleaned.pivot_table(values='Price', index='FuelType', columns='Automatic', aggfunc='mean')
print("\nPivot Table (FuelType vs Automatic - Avg Price):\n", pivot)

Pivot Table (FuelType vs Automatic - Avg Price):
 Automatic             0        1
FuelType
CNG         8950.833333      NaN
Diesel     10723.425000      NaN
Petrol     10766.718478  11380.0