29.	Perform the following operations using Python (Dataset: Salaries.csv) 
a.	get the rank and salary of all staff that does not belong to discipline A
b.	get rank salary and years of service of all male staff and only female professor
c.	get all Female staff who are either professor or earning more than 75000
d.	get the rank and salary of all staff other than professors and who are serving from at least 10 years

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salaries.csv')

In [5]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

# a. Get the rank and salary of all staff that does not belong to discipline A

In [14]:
result_a = df[df['discipline'] != 'A'][['rank', 'salary']]
print(result_a)

         rank  salary
0        Prof  186960
4        Prof  104800
10       Prof  128250
11       Prof  134778
12   AsstProf   88000
13       Prof  162200
14       Prof  153750
15       Prof  150480
16   AsstProf   75044
17   AsstProf   92000
20   AsstProf   92000
25       Prof   99418
28   AsstProf   91300
29       Prof  123683
30  AssocProf  107008
31       Prof  155750
33       Prof  120000
34  AssocProf  119800
35       Prof  126933
36       Prof  146856
38   AsstProf   91000
39       Prof  129000
42   AsstProf   80225
43   AsstProf   77000
44       Prof  151768
45       Prof  140096
46   AsstProf   74692
47  AssocProf  103613
48       Prof  111512
49       Prof  122960
50   AsstProf   97032
51       Prof  127512
58       Prof  144651
59  AssocProf  103994
60   AsstProf   92000
61  AssocProf  103750
62  AssocProf  109650
71  AssocProf   71065
72       Prof  161101
73       Prof  105450
74  AssocProf  104542
75       Prof  124312

# b. Get rank, salary, and years of service of all male staff and only female professors

In [16]:
male_staff = df[df['sex'] == 'Male'][['rank', 'salary', 'service']]
female_professors = df[(df['sex'] == 'Female') & (df['rank'] == 'Prof')][['rank', 'salary', 'service']]

In [18]:
result_b = pd.concat([male_staff, female_professors], ignore_index=True)
print(result_b)

         rank  salary  service
0        Prof  186960       49
1        Prof   93000        6
2        Prof  110515       20
3        Prof  131205       31
4        Prof  104800       18
5        Prof  122400       20
6   AssocProf   81285       17
7        Prof  126300       18
8        Prof   94350       19
9        Prof   57800       51
10       Prof  128250       33
11       Prof  134778       23
12   AsstProf   88000        0
13       Prof  162200       33
14       Prof  153750       19
15       Prof  150480        3
16   AsstProf   75044        3
17   AsstProf   92000        0
18       Prof  107300        7
19       Prof  150500       27
20   AsstProf   92000        4
21       Prof  103106       30
22   AsstProf   73000        2
23   AsstProf   85000        0
24       Prof   91100       23
25       Prof   99418       31
26       Prof  148750       19
27       Prof  155865       43
28   AsstProf   91300        2
29       Prof  123683       20
30  AssocProf  107008        7
31       Prof  155750       21
32       Prof  103275       19
33       Prof  120000       18
34  AssocProf  119800        8
35       Prof  126933       23
36       Prof  146856       45
37       Prof  102000        8
38   AsstProf   91000        3
39       Prof  129000       18
40       Prof  137000       36
41       Prof  151768       19
42       Prof  140096       25
43       Prof  111512       17
44       Prof  122960       18
45       Prof  127512       14
46       Prof  105000        0
47       Prof  144651       26
48       Prof   91000       27
49       Prof  117555       19
50       Prof   90450       11
51       Prof  116450        7
52       Prof  161101       15
53       Prof  105450       10
54       Prof  124312       17
55       Prof  109954       14
56       Prof  109646       15

# c. Get all Female staff who are either Professors OR earning more than 75000

In [23]:
result_c = df[(df['sex'] == 'Female') & ((df['rank'] == 'Prof') | (df['salary'] > 75000))]
print(result_c)

         rank discipline  phd  service     sex  salary
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
56  AssocProf          A   10        8  Female   77500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
65       Prof          A   36       19  Female  117555
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

# d. Get the rank and salary of all staff other than Professors AND who are serving for at least 10 years

In [26]:
result_d = df[(df['rank'] != 'Prof') & (df['service'] >= 10)][['rank', 'salary']]
print(result_d)

         rank  salary
6   AssocProf   81285
47  AssocProf  103613
54  AssocProf   62884
59  AssocProf  103994
61  AssocProf  103750
64  AssocProf   73300